table{
    width: 100%;
    border-collapse: collapse;
}
td, th{
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #222;
    color: white;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:hover{
    background-color: #cce5ff;
    cursor: pointer;
}
td button{
    position: relative;
}
.table_contains{
    margin-top: 20px;
    overflow-x: auto;
}
.button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    background: linear-gradient(120deg, gray, lightgray,white,lightgray, gray);
    background-size: 400% 400%;
    color: solid black;
    box-shadow: -3px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease;
    animation: motion 5s ease-in-out infinite;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.03);
}
.button:active{
    transform: translate(2px);
    box-shadow: 0 0 0;
}
input{
    font-size: 20px;
    font-family: Arial, sans-serif;  
}
#btn_send{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(240deg, lightblue,lightskyblue,skyblue,lightskyblue, lightblue);
    background-size: 400% 400%;
    box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease;
    animation: motion 5s ease-in-out infinite;
    cursor: pointer;
}
#btn_send:hover{
    transform: scale(1.05);
}
#btn_send:active{
    transform: translate(2px);
    box-shadow: 0 0 0;
}
@keyframes motion{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}